.chat-main {
  float: right;
  height: 100vh;
  width: calc(100vw - 300px);
  .main-header {
    background-color: $white-color;
    border-bottom: solid 1px #eeeeee;
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .title {
      display: block;
      float: left;
      &__text {
        color: #333333;
        font-size: 20px;
        margin: 35px 0 15px 0;
      }
      &__user {
        bottom: 0;
        color: $gray-color;
        font-size: 12px;
      }
    }
    .edit {
      @include button($blue-color, right, 40px, 73px);
      border: solid 1px $blue-color;
      box-sizing: border-box;
      margin-top: 30px;
      padding: 0 20px;
    }
  }
  .messages {
    background-color: #fafafa;
    display: block;
    height: calc(100vh - 190px);
    overflow: scroll;
    padding: 46px 40px;
    .message {
      &__user {
        @include message($darkgray-color, 16px);
        float: left;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &__day {
        @include message($gray-color, 12px);
        float: left;
        margin-left: 10px;
      }
      &__content {
        @include message($darkgray-color, 14px);
        clear: both;
        margin-bottom:40px;
      }
    }
  }
  .form {
    background-color: #ddd;
    bottom: 0;
    height: 90px;
    position: fixed;
    width: calc(100vw - 300px);
      form {
        @include form(50px, calc(100% - 80px));
        margin: 20px 40px 20px 40px;
        .input-box {
          @include form(50px, calc(100% - 115px));
          background-color: $white-color; 
          position: relative;
          input[type="text"] {
            @include form(50px, 100%);
            border: none;
            box-sizing: border-box;
            color: $darkgray-color;
            font-size: 16px;
            padding: 0 40px 0 10px;
          }
          label {
            position: absolute;
            right: 10px;
            top: 15px; 
            i {
              font-size: 20px;
            }
            input[type="file"] {
              display: none;
            }
          }
        }
        input[type="submit"] {
          @include button($white-color, left, 50px, 100px);
          background-color: $blue-color;
          margin-left: 15px;
        }
      }
  }
}