/*
 *= require font-awesome
*/

@import "./reset";
@import "./variable";
@import "./mixin";
@import "./chat-side";
@import "./chat-main";
@import "./user";
@import "./flash";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}